h1 {
  text-align: center;
}

p {
  font-size: 1.15em;
}

#experience ul li {
  font-size: 0.8em;
}

#survey {
  font-size: 1.25em;
}
select {
  display: block;
}
.surveyquest label, button {
  margin-top: 20px;
}

#resultSnow, #resultHate, #resultExplore {
  margin-top: 30px;
  display: none;
}

.img-responsive {
  padding: 5px;
  max-width: 750px;
  max-height: auto;
}
