body {
  margin-bottom: 50px;
}

.container {
  background-color: #dfbf9f;
  padding-bottom: 20px;
}

h1, h2{
  text-align: center;
}

p {
  font-size: 1.15em;
  padding: 5px;
}

#necessities ul li {
  font-size: 0.5em;
}

#survey {
  font-size: 1.25em;
}
select {
  display: block;
  padding: 3px;
}
.surveyquest label {
  margin-top: 20px;
}

button {
  margin: 20px;
}

#resultSnow, #resultHate, #resultExplore, #RVsupplies{
  margin-top: 30px;
  display: none;
}

.img-responsive {
  padding: 5px;
  max-height: auto;
}
